<h1 class="text-center" style="margin-top: 50px; margin-bottom: 20px;">New Property</h1>

<%= render 'form', property: @property %> 
<div style= "text-align: center; margin-top: 20px; margin-bottom: 40px;">
	<%= link_to 'Back', properties_path, class: "btn btn-danger" %>
</div>
 